<a href="https://colab.research.google.com/github/Mayank-004/Unna-Bakery-Analysis/blob/main/Unna%20Bakery_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.concat(pd.read_excel('Sales.xlsx', sheet_name=['Feb 2018','March 2018','April 2018','May 2018','June 2018','July 2018','August 2018','September 2018','October 2018']), ignore_index=True)

In [ ]:
df2 = pd.concat(pd.read_excel('Sales.xlsx',sheet_name = ['November 2018', 'December 2018', 'January 2019','February 2019','March 2019','April 2019',\
                                                        'May 2019', 'June 2019', 'July 2019', 'August 2019', 'Sept 2019', 'Oct 2019', 'Nov 2019', 'Dec 2019']),ignore_index = True)

In [ ]:
df_2018 = pd.concat(pd.read_excel('Sales.xlsx',sheet_name = ['November 2018', 'December 2018']),ignore_index = True)
df_2018.head(5)

In [ ]:
df3 = pd.concat(pd.read_excel('Sales.xlsx',sheet_name = ['Jan 2020','Feb 2020','March 2020']),ignore_index = True)

In [ ]:
df4 = pd.concat(pd.read_excel('Sales.xlsx',sheet_name = ['April 2020','May 2020','June 2020','July 2020',\
                                                        'Aug 2020', 'Sept 2020', 'Oct 2020', 'Nov 2020', 'Dec 2020','Jan 2021', 'Feb 2021']),ignore_index = True)

In [ ]:
df4 = df4.rename(columns={'Ship-to Street': 'Street', 'Ship-to City': 'City','Ship-to State': 'State','Ship-to Zip Code': 'Zip Code'})

In [ ]:
df5 = pd.concat([df3,df4]).reset_index(drop = True)

In [ ]:
# data with the same format from Nov 2018 till Feb 2021
df6 = pd.concat([df2,df5]).reset_index(drop = True)

In [ ]:
df6.duplicated().sum()

0

In [ ]:
df6 = df6.dropna()

In [ ]:
df6

,Document Number,Posting Date,Customer/Vendor Code,Customer/Vendor Name,Street,City,State,Zip Code,Credit Hold,Warehouse Name,Group Name,Item No.,Item/Service Description,Group Name.1,Quantity,Total Sales $,Sales Employee Name
0,3236367.0,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,Dry Snacks,1,52.00,Alejandro Lopez
1,3236367.0,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),Dry Snacks,1,27.80,Alejandro Lopez
2,3236367.0,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),Dry Snacks,1,27.80,Alejandro Lopez
3,3236580.0,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),Dry Snacks,1,20.15,House Account
4,3236580.0,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188202.0,Unna Bake -Farmer's Cookie 2 pack (12 x 1 OZ),Dry Snacks,1,20.15,House Account
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954,3772420.0,2021-02-27,C12682,Fresh Direct - Bronx,2 Alexander Avenue,Bronx,NY,10454.0,N,New Jersey,4002_Fresh Direct,188503.0,Unna Bakery - Coconut Oat - (6 x 5.5 OZ),Dry Specialty,1,18.00,House Account NE
6955,3772420.0,2021-02-27,C12682,Fresh Direct - Bronx,2 Alexander Avenue,Bronx,NY,10454.0,N,New Jersey,4002_Fresh Direct,188501.0,Unna Bakery - Vanilla Cookie - (6 x 5.5 OZ),Dry Specialty,2,36.00,House Account NE
6956,3772420.0,2021-02-27,C12682,Fresh Direct - Bronx,2 Alexander Avenue,Bronx,NY,10454.0,N,New Jersey,4002_Fresh Direct,188504.0,Unna Bakery - Brown Butter Cookie - (6 x 5.5 OZ),Dry Specialty,2,36.00,House Account NE
6957,3772426.0,2021-02-27,C15233,WFM - NE WEE - WEEHAWKEN,1400 Waterfront Terrace,Weehawken,NJ,7086.0,N,New Jersey,1001_WFM NE,188502.0,Unna Bakery - Lemon Lime - (6 x 5.5 OZ),Dry Specialty,1,20.10,WFM NE
6958,3773117.0,2021-02-27,C10993,WFM - NYC TRB - TRIBECA - 10245,270 Greenwich Street,New York,NY,10007.0,N,New Jersey,1001_WFM NE,188501.0,Unna Bakery - Vanilla Cookie - (6 x 5.5 OZ),Dry Specialty,1,20.10,WFM NE

In [ ]:
# write your code here to change 'n' to 'N'
# ...
df6['Credit Hold'].unique()

array(['N', 'Y', 'n'], dtype=object)

In [ ]:
# change 'n' to 'N'
df6.loc[df6["Credit Hold"] == 'n', "Credit Hold"] = 'N'

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
df6['Group Name'].unique()

array(['3002_Brooklyn Indie', '2016_Dean&Deluca', '1001_WFM NE',
       '3006_NJ Indie', '3005_CT Indie', '3008_NYS Indie',
       '3001_Manhattan Indie', '3003_Queens Indie', '6001_Online',
       '2020_ShopriteInserra', '4002_Fresh Direct', 'Man Dell KEY Food',
       '3007_LI Indie', '2010_West Side Mkt', '2014_Tapps',
       '3010_PA Indie', '3004_Bronx Indie', '3011_DE Indie',
       '_No Cust Grp', '2001_Fairway', 'Employee', "2007_Decicco's",
       '2018_MOMs', '3012_MD Indie', '5004_Corporate', '2008_Food Bazaar',
       '3009_Other Indie', '3015_WV Indie', '3013_DC Indie',
       '5003_On-Premise', '3014_VA Indie', "2017_Dean's Natural",
       'Yes Organic', '4001_Sub-distributor', 'Brooklyn Fare',
       '2011_FairwayVillage', '1003_WFM MA', 'Ideal Market Basket',
       datetime.datetime(2021, 7, 11, 0, 0)], dtype=object)

In [ ]:
df.head(5)

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1

In [ ]:
#redundant field can be dropped
df['Brand'].unique()

array(['Unna Bakery'], dtype=object)

In [ ]:
df = df.drop('Brand', 1)

In [ ]:
df

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1
...,...,...,...,...,...,...,...,...
1477,C10994,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),8.601850e+11,1
1478,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1
1479,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1
1480,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1
1481,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1

In [ ]:
df6['Group Name.1'].unique()

array(['Dry Snacks', 'Dry Specialty'], dtype=object)

In [ ]:
df6[df6['Group Name.1'] == 'Dry Snacks']['Item/Service Description'].unique()

array(['Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7 oz)',
       'Unna Bake -Lemon Lime  (6 x 7 oz)',
       'Unna Bake -Coconut Oat (6 x 7 oz)',
       "Unna Bake - Farmer's Cookie (6 x 3.4 OZ)",
       "Unna Bake -Farmer's Cookie 2 pack (12 x 1 OZ)",
       'Unna Bake -Raspberry Cave cookie 2 pack (12 x 1 OZ)',
       'Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ)',
       'Unna Bake -Coconut Oat Cookie-  (6 x 3.4 OZ)',
       'Unna Bake -Vanilla Dream  (6 x 7 oz)',
       'Unna Bake -Ginger Snap Cookie  (6 x 3.4 OZ)',
       'Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ)',
       'Unna Bake -Cardamom Crisp Cookie  (6 x 3.4 OZ)',
       'Unna Bake - Brown Butter Cookie 2 pack (12 x 1 OZ)',
       'Unna Bake -Coconut Oat 2-pack - (12 x 1 OZ)',
       '***DISCO***Unna Bake -Coconut Oat (6 x 7 oz)',
       '***DISCO***Unna Bake -Vanilla Dream  (6 x 7 oz)',
       '***DISCO***Unna Bake -Lemon Lime  (6 x 7 oz)',
       'Unna Bakery - Brown Butter Cookie (6 x 3.4 OZ)',
       '(S) Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7 oz)'],
      dtype=object)

In [ ]:
df6[df6['Group Name.1'] == 'Dry Specialty']['Item/Service Description'].unique()

array(['Unna Bakery - Coconut Oat  - (6 x 5.5 OZ)',
       'Unna Bakery - Vanilla Cookie - (6 x 5.5 OZ)',
       'Unna Bakery - Lemon Lime - (6 x 5.5 OZ)',
       'Unna Bakery - Brown Butter Cookie - (6 x 5.5 OZ)'], dtype=object)

In [ ]:
# get price list for the item description 2018
price_list = df6.groupby(['Item No.','Quantity'])['Total Sales $'].max().to_frame('Total Sales $').reset_index()
price_list

     Item No.  Quantity  Total Sales $
0    188101.0         1          20.85
1    188101.0         2          41.70
2    188101.0         3          62.55
3    188101.0         4          71.80
4    188101.0         5          88.60
..        ...       ...            ...
109  188504.0        15         270.00
110  188504.0        18         324.00
111  188504.0        21         378.00
112  188504.0        23         414.00
113  188504.0        42         756.00

[114 rows x 3 columns]

In [ ]:
one_item_price = price_list[price_list['Quantity'] == 1].reset_index(drop = True)
one_item_price = one_item_price.rename(columns = {'Total Sales $': 'Price'})
one_item_price = one_item_price.drop('Quantity', 1)

In [ ]:
one_item_price

    Item No.  Price
0   188101.0  20.85
1   188102.0  20.85
2   188104.0  20.85
3   188105.0  20.85
4   188106.0  20.85
5   188107.0  20.85
6   188201.0  20.85
7   188202.0  20.85
8   188204.0  13.60
9   188301.0  27.80
10  188302.0  27.80
11  188303.0  27.80
12  188401.0  52.00
13  188501.0  20.10
14  188502.0  20.10
15  188503.0  20.10
16  188504.0  20.10

In [ ]:
# probably with discount is going on buy 1 free 1, or free gift
df6.groupby(['Item/Service Description','Quantity'])['Total Sales $'].min()

In [ ]:
df6[df6['Group Name.1'] == 'Dry Specialty']['Item/Service Description'].unique()

In [ ]:
df['ItemName'].unique()

In [ ]:
df6['Sales Employee Name'].unique()

In [ ]:
df6[df6['State'] == 'NY']['Sales Employee Name'].unique()

In [ ]:
df6[df6['State'] == 'CT']['Sales Employee Name'].unique()

In [ ]:
df6[df6['State'] == 'NJ']['Sales Employee Name'].unique()

In [ ]:
df6[df6['City'] == 'Weehawken']['Sales Employee Name'].unique()

In [ ]:
df6['State'].unique()

In [ ]:
df = df.rename(columns = {'Customer code':'Customer/Vendor Code','Ship Date':'Posting Date','Customer Name':'Customer/Vendor Name',\
                     'ItemName':'Item/Service Description','itemcode':'Item No.'})

In [ ]:
df = df.dropna()

In [ ]:
df

,Customer/Vendor Code,Brand,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity
0,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1
1,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1
2,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1
3,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1
4,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1
...,...,...,...,...,...,...,...,...,...
1477,C10994,Unna Bakery,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),8.601850e+11,1
1478,C10663,Unna Bakery,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1
1479,C10663,Unna Bakery,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1
1480,C10663,Unna Bakery,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1
1481,C10663,Unna Bakery,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1

In [ ]:
df_new = pd.merge(df,one_item_price, on = 'Item No.', how = 'left')

In [ ]:
df_new

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1,NaN
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85
...,...,...,...,...,...,...,...,...,...
1468,C10994,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),8.601850e+11,1,20.85
1469,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1,27.80
1470,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1,27.80
1471,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1,27.80
1472,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1,52.00

In [ ]:
df_new['Total Sales $'] = df_new['Quantity'] * df_new['Price']

In [ ]:
# duplicate row
df_new[df_new.duplicated()]

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price,Total Sales $
474,C10961,2018-03-21,Westerly Natural Market,913 8th Avenue New York NY 10019,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85
1089,C10877,2018-08-24,"Terrain Garden Cafe (Wesport, CT)",561 Post Road East Westport CT 06880,188201.0,Unna Bake -Raspberry Cave cookie 2 pack (12 x ...,7.143949e+11,1,20.85,20.85
1091,C10877,2018-08-24,"Terrain Garden Cafe (Wesport, CT)",561 Post Road East Westport CT 06880,188202.0,Unna Bake -Farmer's Cookie 2 pack (12 x 1 OZ),6.438456e+11,1,20.85,20.85

In [ ]:
df_new = df_new.drop_duplicates()
df_new

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price,Total Sales $
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1,NaN,NaN
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85
...,...,...,...,...,...,...,...,...,...,...
1468,C10994,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85
1469,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1,27.80,27.80
1470,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1,27.80,27.80
1471,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1,27.80,27.80
1472,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1,52.00,52.00

In [ ]:
address_parser = df6.groupby('Customer/Vendor Code')[['Street','City','State','Zip Code']].max().reset_index()
address_parser

    Customer/Vendor Code               Street         City State  Zip Code
0                 C10006        75 7th Avenue     Brooklyn    NY   11217.0
1                 C10008    1478 First Avenue     New York    NY   10021.0
2                 C10010      1347 1st Avenue     New York    NY   10021.0
3                 C10017  240East 45th Street     New York    NY   10017.0
4                 C10018       731 9th Avenue     New York    NY   10019.0
..                   ...                  ...          ...   ...       ...
397               C16272       293 SUYDAM AVE  Jersey City    NJ    7304.0
398               C16303    325 LAFAYETTE AVE     Brooklyn    NY   11238.0
399               C16316    564 Bainbridge st     Brooklyn    NY   11233.0
400               C16359        753 MARCY AVE     Brooklyn    NY   11216.0
401               C16442  3100 Patterson Ave.     Richmond    VA   23221.0

[402 rows x 5 columns]

In [ ]:
df_new1 = pd.merge(df_new,address_parser, on = 'Customer/Vendor Code', how = 'left')

In [ ]:
df_new1.head(5)

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price,Total Sales $,Street,City,State,Zip Code
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1,NaN,NaN,NaN,NaN,NaN,NaN
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN

In [ ]:
df6['Warehouse Name'].unique()

array(['New Jersey', 'Maryland', 'Maryland - EMW'], dtype=object)

In [ ]:
# replace warehouse name from maryland -emw to maryland
df6.loc[df6["Warehouse Name"] == 'Maryland - EMW', "Warehouse Name"] = 'Maryland'

In [ ]:
# common state will be NY, DE, PA, NJ, so if have these 4 states, warehouse will be in New Jersey, if DC, WV, VA, MD warehouse will be in Maryland, if CT,KS then will be New Jersey
df6[df6['Warehouse Name'] == 'Maryland']['State'].unique()

array(['VA', 'MD', 'NJ', 'DC', 'WV', 'PA', 'DE', 'NY'], dtype=object)

In [ ]:
df6[df6['Warehouse Name'] == 'New Jersey']['State'].unique()

array(['NY', 'NJ', 'CT', 'KS', 'PA', 'DE'], dtype=object)

In [ ]:
df6[df6['Credit Hold'] == 'Y'].head(5)

131                Sickles Market LLC (Little Silver, NJ)
154                Sickles Market LLC (Little Silver, NJ)
163     Cherry Tree Gourmet Station-4051 Abinader Groc...
164     Cherry Tree Gourmet Station-4051 Abinader Groc...
360                    Good Nature Cafe Inc (44 Whitney )
                              ...
6489                               Market Shack and Grill
6490                               Market Shack and Grill
6668                                  Patterson Mini Mart
6669                                  Patterson Mini Mart
6932                                  Patterson Mini Mart
Name: Customer/Vendor Name, Length: 185, dtype: object

In [ ]:
df6[df6['Credit Hold'] == 'N'].head(5)

,Posting Date,Customer/Vendor Code,Customer/Vendor Name,Street,City,State,Zip Code,Credit Hold,Warehouse Name,Group Name,Item No.,Item/Service Description,Quantity,Total Sales $,Sales Employee Name
0,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00,Alejandro Lopez
1,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),1,27.80,Alejandro Lopez
2,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),1,27.80,Alejandro Lopez
3,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,20.15,House Account
4,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188202.0,Unna Bake -Farmer's Cookie 2 pack (12 x 1 OZ),1,20.15,House Account

In [ ]:
df_new1['Credit Hold'] = 'Unknown'

In [ ]:
# input value for Warehouse Name for 2018 dataset

# df_new1.loc[df_new1["State"] == 'NY', "Warehouse Name"] = 'New Jersey'
# df_new1.loc[df_new1["State"] == 'DE', "Warehouse Name"] = 'New Jersey'
# df_new1.loc[df_new1["State"] == 'PE', "Warehouse Name"] = 'New Jersey'
# df_new1.loc[df_new1["State"] == 'NJ', "Warehouse Name"] = 'New Jersey'

# df_new1.loc[df_new1["State"] == 'DC', "Warehouse Name"] = 'Maryland'
# df_new1.loc[df_new1["State"] == 'WV', "Warehouse Name"] = 'Maryland'
# df_new1.loc[df_new1["State"] == 'VA', "Warehouse Name"] = 'Maryland'
# df_new1.loc[df_new1["State"] == 'MD', "Warehouse Name"] = 'Maryland'

# df_new1.loc[df_new1["State"] == 'CT', "Warehouse Name"] = 'New Jersey'
# df_new1.loc[df_new1["State"] == 'KS', "Warehouse Name"] = 'New Jersey'

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price,Total Sales $,Street,City,State,Zip Code,Credit Hold
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN,Unknown
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN,Unknown
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN,Unknown
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,C10994,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,1551 3rd Avenue,New York,NY,10128.0,Unknown
1466,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1,27.80,27.80,NaN,NaN,NaN,NaN,Unknown
1467,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1,27.80,27.80,NaN,NaN,NaN,NaN,Unknown
1468,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1,27.80,27.80,NaN,NaN,NaN,NaN,Unknown
1469,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1,52.00,52.00,NaN,NaN,NaN,NaN,Unknown

In [ ]:
df6 = df6.drop('Document Number', 1)
df6

,Posting Date,Customer/Vendor Code,Customer/Vendor Name,Street,City,State,Zip Code,Credit Hold,Warehouse Name,Group Name,Item No.,Item/Service Description,Group Name.1,Quantity,Total Sales $,Sales Employee Name
0,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,Dry Snacks,1,52.00,Alejandro Lopez
1,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),Dry Snacks,1,27.80,Alejandro Lopez
2,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),Dry Snacks,1,27.80,Alejandro Lopez
3,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),Dry Snacks,1,20.15,House Account
4,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188202.0,Unna Bake -Farmer's Cookie 2 pack (12 x 1 OZ),Dry Snacks,1,20.15,House Account
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954,2021-02-27,C12682,Fresh Direct - Bronx,2 Alexander Avenue,Bronx,NY,10454.0,N,New Jersey,4002_Fresh Direct,188503.0,Unna Bakery - Coconut Oat - (6 x 5.5 OZ),Dry Specialty,1,18.00,House Account NE
6955,2021-02-27,C12682,Fresh Direct - Bronx,2 Alexander Avenue,Bronx,NY,10454.0,N,New Jersey,4002_Fresh Direct,188501.0,Unna Bakery - Vanilla Cookie - (6 x 5.5 OZ),Dry Specialty,2,36.00,House Account NE
6956,2021-02-27,C12682,Fresh Direct - Bronx,2 Alexander Avenue,Bronx,NY,10454.0,N,New Jersey,4002_Fresh Direct,188504.0,Unna Bakery - Brown Butter Cookie - (6 x 5.5 OZ),Dry Specialty,2,36.00,House Account NE
6957,2021-02-27,C15233,WFM - NE WEE - WEEHAWKEN,1400 Waterfront Terrace,Weehawken,NJ,7086.0,N,New Jersey,1001_WFM NE,188502.0,Unna Bakery - Lemon Lime - (6 x 5.5 OZ),Dry Specialty,1,20.10,WFM NE
6958,2021-02-27,C10993,WFM - NYC TRB - TRIBECA - 10245,270 Greenwich Street,New York,NY,10007.0,N,New Jersey,1001_WFM NE,188501.0,Unna Bakery - Vanilla Cookie - (6 x 5.5 OZ),Dry Specialty,1,20.10,WFM NE

In [ ]:
df6 = df6.drop('Group Name.1', 1)

In [ ]:
df6.head(5)

,Posting Date,Customer/Vendor Code,Customer/Vendor Name,Street,City,State,Zip Code,Credit Hold,Warehouse Name,Group Name,Item No.,Item/Service Description,Quantity,Total Sales $,Sales Employee Name
0,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00,Alejandro Lopez
1,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),1,27.80,Alejandro Lopez
2,2018-11-01,C10337,Foragers City Grocer - Brooklyn,56 Adams Street.,Brooklyn,NY,11201.0,N,New Jersey,3002_Brooklyn Indie,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),1,27.80,Alejandro Lopez
3,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,20.15,House Account
4,2018-11-01,C10217,Dean & Deluca - SoHo,104 Crosby Street,New York,NY,10012.0,N,New Jersey,2016_Dean&Deluca,188202.0,Unna Bake -Farmer's Cookie 2 pack (12 x 1 OZ),1,20.15,House Account

In [ ]:
#ls = ['Ave', 'Avenue', 'Street', 'Blvd.' , 'Blvd', 'Ave,', '#1','St','Broadway','Road','AVE','Street,','Pl']

In [ ]:
# just extract Street, City State which are unfilled
# address_2fill = df_new1[df_new1.isnull().any(axis=1)].reset_index()
# address_2fill

,index,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price,Total Sales $,Street,City,State,Zip Code
0,0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
1,1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
2,2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1,NaN,NaN,NaN,NaN,NaN,NaN
3,3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
4,4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,1455,C10215,2018-10-30,Dean & Deluca - City Spire,156 West 56th Street New York NY 10019,188201.0,Unna Bake -Raspberry Cave cookie 2 pack (12 x ...,7.143949e+11,1,20.85,20.85,NaN,NaN,NaN,NaN
605,1466,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1,27.80,27.80,NaN,NaN,NaN,NaN
606,1467,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1,27.80,27.80,NaN,NaN,NaN,NaN
607,1468,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1,27.80,27.80,NaN,NaN,NaN,NaN
608,1469,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1,52.00,52.00,NaN,NaN,NaN,NaN

In [ ]:
import usaddress

In [ ]:
# run a loop to fill in whatever we can extract from the Address on File String
# for i in range(len(address_2fill)):
#     r = usaddress.parse(address_2fill['Address On File'].iloc[i])
#     my_dict = dict(r)
#     my_dict_new = {v:k for k,v in my_dict.items()}
#     if ('AddressNumber' in my_dict_new) & ('StreetName' in my_dict_new)& ('StreetNamePostType' in my_dict_new):
#         address_2fill['Street'].iloc[i]= my_dict_new['AddressNumber'] +' '+  my_dict_new['StreetName'] + ' '+ my_dict_new['StreetNamePostType']
#     else:
#         address_2fill['Street'].iloc[i] = 'undefined'
#     if 'PlaceName' in my_dict_new:
#         address_2fill['City'].iloc[i] = my_dict_new['PlaceName']
#     else:
#         address_2fill['City'].iloc[i] = 'undefined'
#     if 'StateName' in my_dict_new:
#         address_2fill['State'].iloc[i]= my_dict_new['StateName']
#     else:
#         address_2fill['State'].iloc[i]= 'undefined'
#     if 'ZipCode' in my_dict_new:
#         address_2fill['Zip Code'].iloc[i] = my_dict_new['ZipCode']
#     else:
#         address_2fill['Zip Code'].iloc[i] = 'undefined'

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
for i in range(len(df_new1)):
    if pd.isnull(df_new1['Street'].iloc[i]) is True:
        r = usaddress.parse(df_new1['Address On File'].iloc[i])
        my_dict = dict(r)
        my_dict_new = {v:k for k,v in my_dict.items()}
        if ('AddressNumber' in my_dict_new) & ('StreetName' in my_dict_new)& ('StreetNamePostType' in my_dict_new):
            df_new1['Street'].iloc[i]= my_dict_new['AddressNumber'] +' '+  my_dict_new['StreetName'] + ' '+ my_dict_new['StreetNamePostType']
        else:
            df_new1['Street'].iloc[i] = 'undefined'
        if 'PlaceName' in my_dict_new:
            df_new1['City'].iloc[i] = my_dict_new['PlaceName']
        else:
            df_new1['City'].iloc[i] = 'undefined'
        if 'StateName' in my_dict_new:
            df_new1['State'].iloc[i]= my_dict_new['StateName']
        else:
            df_new1['State'].iloc[i]= 'undefined'
        if 'ZipCode' in my_dict_new:
            df_new1['Zip Code'].iloc[i] = my_dict_new['ZipCode']
        else:
            df_new1['Zip Code'].iloc[i] = 'undefined'
    else:
        continue

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df_new1

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,UPC,Quantity,Price,Total Sales $,Street,City,State,Zip Code,Credit Hold
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1,NaN,NaN,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,C10994,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),8.601850e+11,1,20.85,20.85,1551 3rd Avenue,New York,NY,10128.0,Unknown
1466,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),8.572160e+11,1,27.80,27.80,975 Fulton Street,Brooklyn,NY,11238,Unknown
1467,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),8.601850e+11,1,27.80,27.80,975 Fulton Street,Brooklyn,NY,11238,Unknown
1468,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),8.601850e+11,1,27.80,27.80,975 Fulton Street,Brooklyn,NY,11238,Unknown
1469,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,8.601850e+11,1,52.00,52.00,975 Fulton Street,Brooklyn,NY,11238,Unknown

In [ ]:
df_new1 = df_new1.drop('UPC',1)
df_new1 = df_new1.drop('Price',1)
df_new1

,Customer/Vendor Code,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity,Total Sales $,Street,City,State,Zip Code,Credit Hold
0,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
1,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
2,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),1,NaN,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
3,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
4,C13311,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85,331 Nostrand Ave,Brooklyn,NY,11216,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,C10994,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1,20.85,1551 3rd Avenue,New York,NY,10128.0,Unknown
1466,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),1,27.80,975 Fulton Street,Brooklyn,NY,11238,Unknown
1467,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),1,27.80,975 Fulton Street,Brooklyn,NY,11238,Unknown
1468,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),1,27.80,975 Fulton Street,Brooklyn,NY,11238,Unknown
1469,C10663,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00,975 Fulton Street,Brooklyn,NY,11238,Unknown

In [ ]:
# input value for Warehouse Name for 2018 dataset

df_new1.loc[df_new1["State"] == 'NY', "Warehouse Name"] = 'New Jersey'
df_new1.loc[df_new1["State"] == 'DE', "Warehouse Name"] = 'New Jersey'
df_new1.loc[df_new1["State"] == 'PE', "Warehouse Name"] = 'New Jersey'
df_new1.loc[df_new1["State"] == 'NJ', "Warehouse Name"] = 'New Jersey'
df_new1.loc[df_new1["State"] == 'PA', "Warehouse Name"] = 'New Jersey'

df_new1.loc[df_new1["State"] == 'DC', "Warehouse Name"] = 'Maryland'
df_new1.loc[df_new1["State"] == 'WV', "Warehouse Name"] = 'Maryland'
df_new1.loc[df_new1["State"] == 'VA', "Warehouse Name"] = 'Maryland'
df_new1.loc[df_new1["State"] == 'MD', "Warehouse Name"] = 'Maryland'

df_new1.loc[df_new1["State"] == 'CT', "Warehouse Name"] = 'New Jersey'
df_new1.loc[df_new1["State"] == 'KS', "Warehouse Name"] = 'New Jersey'

In [ ]:
df_new1['Group Name'] = 'unknown'
df_new1['Sales Employee Name'] = 'unknown'
df_new1['Credit Hold'] = 'unknown'

In [ ]:
df_new1

In [ ]:
df6['Address'] = df6['Street'] + ', ' + df6['City'] +  ', ' + df6['State'] + ', ' + df6['Zip Code'].astype('str')

In [ ]:
df_new1 = df_new1.rename(columns = {'Address On File': 'Address'})

In [ ]:
# reorganizing the columns such that similar to the format of the other table
df_new1 = df_new1[['Posting Date', 'Customer/Vendor Code', 'Customer/Vendor Name',
       'Street', 'City', 'State', 'Zip Code', 'Credit Hold', 'Warehouse Name',
       'Group Name', 'Item No.', 'Item/Service Description', 'Quantity',
       'Total Sales $', 'Sales Employee Name', 'Address']]

In [ ]:
all_df = pd.concat([df_new1,df6]).reset_index(drop = True)

In [ ]:
all_df

In [ ]:
all_df['flavour'] = all_df['Item/Service Description'].apply(lambda x : x.split('-')[1])
all_df['flavour'] = all_df['flavour'].apply(lambda x: x.split('(')[0])
all_df['flavour'] = all_df['flavour'].apply(lambda x: x.split('2')[0])
all_df['flavour'] = all_df['flavour'].apply(lambda x: x.strip())
all_df['flavour'] = all_df['flavour'].apply(lambda x: x.split('Cookie')[0])
all_df['flavour'] = all_df['flavour'].apply(lambda x: x.split('cookie')[0])
all_df['flavour'] = all_df['flavour'].apply(lambda x: x.strip())

In [ ]:
all_df.to_csv('all_df.csv', index = False)

In [ ]:
dat = pd.read_csv('all_df.csv')

In [ ]:
dat.loc[dat["City"] == 'York', "City"] = 'New York'

In [ ]:
all_df.to_csv('all_df.csv', index = False)

In [ ]:
data = pd.read_csv('all_df.csv')

In [ ]:
data[data['State'].isnull()]

Empty DataFrame
Columns: [Posting Date, Customer/Vendor Code, Customer/Vendor Name, Street, City, State, Zip Code, Credit Hold, Warehouse Name, Group Name, Item No., Item/Service Description, Quantity, Total Sales $, Sales Employee Name, Address, flavour]
Index: []

In [ ]:
data[data['Warehouse Name'].isnull()]

,Posting Date,Customer/Vendor Code,Customer/Vendor Name,Street,City,State,Zip Code,Credit Hold,Warehouse Name,Group Name,Item No.,Item/Service Description,Quantity,Total Sales $,Sales Employee Name,Address,flavour
9,2018-02-06,C11342,Back To the Land Natural Foods,142 7th Avenue,undefined,undefined,11215.0,unknown,NaN,unknown,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85,unknown,142 7th Avenue 11215,Raspberry Cave
11,2018-02-06,C11342,Back To the Land Natural Foods,142 7th Avenue,undefined,undefined,11215.0,unknown,NaN,unknown,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,20.85,unknown,142 7th Avenue 11215,Farmer's
13,2018-02-06,C11342,Back To the Land Natural Foods,142 7th Avenue,undefined,undefined,11215.0,unknown,NaN,unknown,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),1,NaN,unknown,142 7th Avenue 11215,Chocolate Caramel
15,2018-02-06,C11342,Back To the Land Natural Foods,142 7th Avenue,undefined,undefined,11215.0,unknown,NaN,unknown,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,20.85,unknown,142 7th Avenue 11215,Vanilla Dream
17,2018-02-06,C11342,Back To the Land Natural Foods,142 7th Avenue,undefined,undefined,11215.0,unknown,NaN,unknown,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85,unknown,142 7th Avenue 11215,Ginger Snap
19,2018-02-06,C11342,Back To the Land Natural Foods,142 7th Avenue,undefined,undefined,11215.0,unknown,NaN,unknown,188106.0,Unna Bake -Cardamom Crisp Cookie (6 x 3.4 OZ),1,20.85,unknown,142 7th Avenue 11215,Cardamom Crisp

In [ ]:
data['Zip Code'] = data['Zip Code'].astype('int')

In [ ]:
data.to_csv('new_all_df.csv', index = False)